<mat-toolbar color="primary">
  <span>Bug Tracker</span>
</mat-toolbar>

<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li>
      <a routerLink="/ticket-form" routerLinkActive="active">Create Ticket</a>
    </li>
    <li><a routerLink="/assigned" routerLinkActive="active">Assigned</a></li>
    <li><a routerLink="/opened" routerLinkActive="active">Opened</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<!-- <app-ticket-form></app-ticket-form> -->
