<nav>
    <mat-toolbar color="primary" class="navbar">
        <div [hidden] = "isLoggedOut">
        <div>
            <span><a routerLink="/dashboard" routerLinkActive="active">
                    <fa-icon [icon]="faBug"></fa-icon> Bug Tracker
                </a></span>
            <span><a routerLink="/ticket-form" routerLinkActive="active">Create Ticket</a></span>
            <span><a routerLink="/assigned" routerLinkActive="active">Assigned</a></span>
            <span><a routerLink="/opened" routerLinkActive="active">Opened</a></span>
            <span><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a></span>
        </div>
        <div (click) = "logout()">Logout</div>
        </div>
    </mat-toolbar>
</nav>
<router-outlet></router-outlet>



