<div *ngFor="let model of allTickets">
   <h3>{{model.openerName}} {{model.name}} {{model.status}} {{model.priority}} {{model.difficultyLevel}}</h3>
    
   <button class="btn btn-primary" (click)="submitted=!submitted">Edit</button>
    <form (ngSubmit)="onSubmit()" #ticketForm = "ngForm">
    <div [hidden]="submitted">
   
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text"  class="form-control" id="name"
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
               <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
               Title is required.
               </div>
      </div>
      <div class="form-group">
        <label for="priorityId">Priority</label>
        <select class="form-control"  id="priorityId"
                required
                [(ngModel)]="model.priorityId" name="priorityId">
          <option *ngFor="let valu of values;" [value]="valu">{{valu}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="difficultyLevel">Difficulty Level</label>
        <input type="number" class="form-control" id="difficultyLevel"
               required
               [(ngModel)]="model.difficultyLevel" name="difficultyLevel"
               #name="ngModel">
               <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
               Difficulty Level is required.
               </div>
      </div>
      </div>
      <div [hidden]="!submitted">
    </div>

    </form>
 <button (click)='updateTicket(ticket)' [disabled]="!ticketForm.form.valid">Update ticket</button>
</div>
