<form #form="ngForm" (ngSubmit)="submit(form)">
    <label for="name">Name</label>
    <input ngModel name="name" type="text" required id="name">
    <!-- Status would be Opened by default, but this code may be useful for subsequent posts
    <div>
        <label for="status">Status</label>
        <select ngModel name="status" required id="status">
            <option *ngFor="let status of statuses" [value]='status.statusId'>{{status.statusName}}</option>
        </select>
    </div> -->
    <div>
        <label for="priority">Priority</label>
        <select ngModel name="priority" required id="priority">
            <option *ngFor="let priority of priorities" [value]='priority.priorityId'>{{priority.priorityName}}
            </option>
        </select>
    </div>
    <!-- Not essential for opening ticket but code might be useful elsewhere
    <div>
        <label for="userRole">User Role</label>
        <select ngModel name="userRole" required id="userRole">
            <option *ngFor="let userRole of userRoles" [value]='userRole.roleId'>
                {{userRole.roleName}}
            </option>
        </select>
    </div> -->
    <div>
        <label for="post">Description</label>
        <textarea ngModel name="post" id="post" cols='30' row='10'></textarea>
    </div>
    <button type="submit">Submit</button>

</form>